<html>
    <head>
        {% if title %}
        <title>{{ title }} - Corpus Viewer</title>
        {% else %}
        <title>Welcome to Corpus Viewer</title>
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>    
    </head>
    <body>
        <div>
            Corpus Viewer: 
            <a href="{{ url_for('index') }}">Home</a>
            <!--<a href="{{ url_for('view') }}">View</a>-->
            <a href="{{ url_for('upload') }}">Upload</a>
            <a href="{{ url_for('complete') }}">Uploaded Files</a>
            <a href="{{ url_for('angular') }}">Angular</a>
            <a href="{{ url_for('OCR_All') }}">OCR All</a>
            <a href="{{ url_for('numberedView') }}">Numbered View</a>
            <a href="{{ url_for('keywordMatches') }}">Keyword Matches</a>
            <a href="{{ url_for('sentiment_all') }}">Sentiment All</a>
        <div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>


