{% extends "base.html" %}

{%block content %}
    <ul>
    {%- for item in tree.children recursive %}
        <li>{{ item.name[11:] }}<a href="{{ item.name }}"> link</a>

    <!--       {%- if item.children -%}
            <ul>{{ loop(item.children) }}</ul>
        {%- endif %}</li> -->
   {%- endfor %}
    </ul>
    <p>

<div ng-app="myApp" ng-controller="personCtrl">
<p>The name is {{"lastName|uppercase"|angular}}</p>
</div>

<script>
angular.module('myApp', []).controller('personCtrl', function($scope) {
    $scope.firstName = "John",
    $scope.lastName = "Doe",
    $scope.test = "this is a test"
});
</script>

{% endblock %}

