{% extends "base.html" %}

{%block content %}
    <ul>
    {% for item in tree.children %} <!-- {{loop.index}} -->
        <li> {{ item.name[11:] }}<a href="{{ item.name }}"> link</a>
    {%- endfor %}
    </ul>

Query all:
{{Doc}}
{% for item in Doc %}
    <li> <p> <iframe width ="900" height ="900" src="{{item.imgLocation}}"></iframe>{{item.imgLocation}}
    <li> <p> <iframe width ="900" height ="900" src="{{item.txtLocation}}"></iframe>{{item.txtLocation}}
{%- endfor %}
</a>
<p>
pagination object:
<p>
{{pageViews}}
<p>
Document text:
<p>
{{DocText}}

{% endblock %}
