{% extends "base.html" %}

{% block content %}



<div ng-app = "">
</div>

<!--
<p>Input something in the input box:</p>
<p>Name:<input type="text" ng-model="name"></p>
<p ng-bind="name"></p>

</div>
<div ng-include="'./static/external.html'"></div>
</div>
<div ng-controller="MainCtrl">
</div>
-->
    <p>
    
    <iframe width="900"
	    height="900" 
	src={{PDF}}> </iframe>
    </p>
    <p>
    <!--<div ng-controller="MainCtrl">
    {{name|angular}}</div>-->
    {{recText}}
    </p>
</div>

<script>
var app = angular.module('', []);

app.controller('MainCtrl', function($scope) {
    $scope.name = 'World';
    });
</script>


{% endblock %}

